@import '../styles/variables';
@import '../styles/shadows';


.sidebar {
    @include card(4);
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
}

.sidebar.hidden {
    left: 100%;

}
