{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "extends": [ "eslint:recommended", "plugin:react/recommended" ],

    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true,
            "experimentalObjectRestSpread": true,
            "jsx": true
        }
    },
    "env": {
        "es6": true
    },
    "rules": {
        "no-unused-vars": [ 1, { "args": "none" }],
        "semi": [2, "always"],
        "no-console": [ 1 ],
        "react/jsx-no-bind": [ 1 ],
        "react/prop-types": [1, { ignore: ['children'] }]
    }
}
