{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "extends": [ "eslint:recommended", "plugin:react/recommended" ],
    "env": {
        "es6": true
    },
    "globals": {
        fetch: true
    },
    "rules": {
        "no-unused-vars": [ 1, { "args": "none" }],
        "semi": [2, "always"],
        "no-console": [ 1 ],
        "react/jsx-no-bind": [ 1 ],
        "react/prop-types": [1, { ignore: ['children'] }]
    }
}
