module.exports = {
    postgres: {
        connectionString: 'postgres://user:password!@localhost/databaseName'
    },
    smtp: {
        host: "smtp.mailtrap.io",
        port: 2525,
        auth: {
            user: "26642a2c7ea073305",
            pass: "7ec6d7db509340"
        }
    },
    ldap: {
        url: 'ldap://hostname:389',
        bindDn: 'cn=xxx,ou=xxx,dc=domainName,dc=local',
        bindCredentials: 'password',
        searchBase: 'ou=users,dc=domainName,dc=local',
        searchFilter: '(sAMAccountName={{'{{'}}username{{'}}'}})'
    }
};
